@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!</h1>
    <p>Learn about me today.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>howdy</h3>
            <div class="card">
                <h1>massive changes</h1>
                <ul>
                    <li>one</li>
                    <li>two</li>
                    <li>three</li>
                    <li>four</li>
                    <li>five</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<p>Hey, I've also got some changes of my own.</p>